<body>
    <div class="container mt-4">
        <h3 class="text-right-mb-4">Issues for {{owner}}'s {{repo}}</h3>
        <div class="row">
              <div class="col-md-3">
                <div class="list-group">
                    <a href="/dashboard" class="btn btn-primary">Bounty Board</a>
                    <a href="/feed" class="btn btn-primary">Bug Feed</a>
                    <a href="/reposearch" class="btn btn-primary">Search Repos</a>
                    <a href="/bugs" class="btn btn-primary">Most Wanted</a>
                </div>
            </div>
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
            <!-- Side Panel -->
            {{ sidebar}}
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Cards for Issues -->
                <div class="card-container">
                    {{#unless issues}}
                    <h2>No Issues Found</h2>
                    {{/unless}}
                    {{#each issues as |issue|}}
                        <div class="card mb-3 custom-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">Issue Number: {{issue.issue_number}}</p>
                                    <p class="card-text">State: {{issue.issue_state}}</p>
                                </div>
                                <p class="card-text" style="max-height: 3em; overflow: hidden; text-overflow: ellipsis;">Description of Issue: {{issue.issue_body}}</p>
                                <p class="card-text">URL: <a href="{{issue.issue_url}}">{{issue.issue_url}}</a></p>
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">Add Bounty: <input type="text" placeholder="Enter Bounty Amount"></p>
                                    <p class="card-text">Current Bounty: {{issue.current_bounty}}</p>
                                </div>
                                <a href="#" class="btn btn-primary">Create Bounty</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>
