<body>
    <div class="container mt-4">
        <h3 class="text-center mb-4 repo-data" 
            data-repo-name="{{repo}}" 
            data-owner="{{owner}}" 
            data-repo-url="{{url}}">Issues for {{owner}}'s {{repo}}</h3>
        <div class="row">
            <!-- Side Panel -->
            {{> sidebar}}
            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Cards for Issues -->
                <div class="card-container">
                    {{#unless issues}}
                        <h2>No Issues Found</h2>
                    {{/unless}}
                    {{#each issues as |issue|}}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p class="card-text">Issue Number: {{issue.issue_number}}</p>
                                    <p class="card-text">State: {{issue.issue_state}}</p>
                                </div>
                                <p class="card-text" style="max-height: 3em; overflow: hidden; text-overflow: ellipsis;">{{issue.issue_title}}</p>
                                <p class="card-text">URL: <a href="{{issue.issue_url}}">{{issue.issue_url}}</a></p>
                                <div class="d-flex justify-content-between">
                                    <p id="bounty-input" class="card-text">Add Bounty: <input type="text" placeholder="Enter Bounty Amount" /></p>
                                    {{#if issue.bounty_total}}
                                        <p class="card-text">Current Bounty: {{issue.bounty_total}}</p>
                                    {{else}}
                                        <p class="card-text">Current Bounty: 0</p>
                                    {{/if}}
                                </div>
                                <a id="create-bounty" class="btn btn-primary" 
                                   data-issue-title="{{issue.issue_title}}" 
                                   data-issue-number="{{issue.issue_number}}" 
                                   data-issue-state="{{issue.issue_state}}" 
                                   data-issue-body="{{issue.issue_body}}" 
                                   data-issue-url="{{issue.issue_url}}">Create Bounty</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script src="js/createBounty.js"></script>
</body>
