<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Search Page</h1>
        <div class="row">
            <!-- Side Panel -->
            {{> sidebar}}

            <!-- Main Content -->
            <div class="col-md-9">
                <!-- Search Bar Form -->
                <form id="search-form">
                    <div class="input-group mb-3">
                        <input id="search" type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
                        </div>
                    </div>
                </form>

                <!-- Search Results (Cards) -->
                <div class="result-container">
                    <!-- Result Card 1 -->
                    {{#each repositories as |repository|}}
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title row">
                                    <div class="col repo-name">Repo Name: {{repository.name}}</div>
                                    <div class="col text-right repo-owner">Repo Owner: {{repository.owner}}</div>
                                </h5>
                                <p class="card-text">{{repository.description}}</p>
                                <a class="btn btn-primary see-issues-button" 
                                   data-repo-name="{{repository.name}}" 
                                   data-owner="{{repository.owner}}" 
                                   data-repo-url="{{repository.url}}">See Issues</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script src="js/search.js"></script>
    <script src="js/issues.js"></script>
</body>
